<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto | Funkoshop</title>
  <link rel="icon" type="image/svg+xml" href="/img/branding/isotype.svg">
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <%- include("./partials/header-shop") %>
    <main class="container main-contact">
      <section class="contact">
        <h1 class="mainlogin__title">Contacto</h1>
        <p class="contact-intro">
          Ejemplo de formulario basado en el diseño del sitio que nos han proporcionado de la Agencia de aprendizaje
          Codo a Codo.
        </p>
        <form class="contact-form" action="procesar_formulario.php" method="post">
          <div class="contact-row">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required />
          </div>
          <div class="contact-row">
            <label for="correo">E-Mail:</label>
            <input type="email" id="correo" name="correo" required />
          </div>
          <div class="contact-row">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
          </div>
          <button class="btn-ingresar" type="submit">Enviar</button>
        </form>
        <figure class="contact-design">
          <a href="https://www.figma.com/file/IjTSeE2BpRd5Gk9VakNIhC/Challenge-Integrador---Funkoshop?type=design&node-id=19905-435&mode=design&t=THlkqhNK1ewcRSfQ-0"
            target="_blank">
            <img src="../../public/img/funkoFIGMA.webp" loading="lazy" alt="Sitio en Figma" title="VER en Figma">
            <figcaption>Diseño en Figma</figcaption>
          </a>
        </figure>
      </section>
    </main>
    <%- include("./partials/footer-shop") %>
</body>

</html>