<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="error-body">
    <div id='oopss'>
        <div class='error-text'>
            <h1>404</h1>
            <p>PAGE NOT FOUND</p>
            <p class='error-link'>
                <a class="back" action="/auth/logout" method="get" href="/auth/logout">Back To Home</a>
                <img class="error-iso" src="/img/branding/isotype.svg" alt="Isotype de Funkoshop">
            </p>
        </div>
    </div>
</body>

</html>