<header class="header" style="z-index: 99;">
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="/">
                <img src="../../img/branding/logo_light_horizontal.svg" alt="Logo de Funkoshop" />
            </a>
        </picture>
        <label for="menu" class="navbar__label">
            <img src="../../img/icons/menu.svg" alt="MenuIcon">
            <img src="../../img/icons/x-button.svg" class="close" alt="CloseIcon">
        </label>
        <input type="checkbox" id="menu" class="navbar__input">
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                        icon="mdi:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">LLaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li>

            <% if (req.session.userId) { %>
                <li class="navbar__item">
                    <a class="navbar__link" action="/auth/logout" method="get" href="/auth/logout">LOGOUT</a>
                </li>
            <% } else { %>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">
                        LOGIN
                    </a>
                </li>
            <% } %>
            
            <li class="navbar__item">
                <a class="navbar__carro" href="/shop/cart"><img src="../../img/icons/cart-icon.svg" alt="CARRITO" /></a>
            </li>
        </ul>

    </nav>
</header>