<header class="header">
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="/">
                <img src="../../../img/branding/logo_light_horizontal.svg" alt="Logo de Funkoshop" />
            </a>
        </picture>
        <label for="menu" class="navbar__label">
            <img src="../../../img/icons/menu.svg" alt="MenuIcon">
            <img src="../../../img/icons/x-button.svg" class="close" alt="CloseIcon">
        </label>
        <input type="checkbox" id="menu" class="navbar__input">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">VER TIENDA</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">ADMIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" action="/auth/logout" method="get" href="/auth/logout">SALIR</a>
            </li>
        </ul>
    </nav>
</header>